@import url(https://fonts.googleapis.com/css?family=Noto+Kufi+Arabic:100,200,300,regular,500,600,700,800,900);

body {
  font-family: "Noto Kufi Arabic", sans-serif;
}

.link a,
.nav_links a,
.f-caption h2,
.s-caption h3,
.sbtn,
.t-caption h3,
.ft-caption h3,
.ft-caption .link,
.service-title,
.about__content h2,
.team-work,
.card-container .card .content .contentBx h4,
.card-container .card .content .contentBx h5,
.contact h2,
.msg textarea,
.contact input,
.contact button {
  font-family: "Noto Kufi Arabic", sans-serif;
  letter-spacing: 0px;
}

.contact input:focus {
  border-left: 0;
  letter-spacing: 0;
  border-right: 2rem solid #ee4673;
}
